.movie {

    cursor: pointer;
}

.movie:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    ;
    border: 1px solid black;
}

.selected-movie {
    background-color: brown;
    color: #fff;
    cursor: pointer;
}